@font-face{
	font-family:"Sabon Next";
	src:url("fonts/sabon-next/regular/5a9b7009-6bac-4b26-b5ff-15ea67d4117d.eot?#iefix");
	src:url("fonts/sabon-next/regular/5a9b7009-6bac-4b26-b5ff-15ea67d4117d.eot?#iefix") format("eot"),
	url("fonts/sabon-next/regular/d913b226-c0d7-49e2-b231-1fc570fcdc9a.woff2") format("woff2"),
	url("fonts/sabon-next/regular/9bbfbdbd-1ab0-4d8f-80d8-c690ab217070.woff") format("woff"),
	url("fonts/sabon-next/regular/35fd1f96-599b-4392-b501-8b8fe5146b1a.ttf") format("truetype"),
	url("fonts/sabon-next/regular/451477dd-a1aa-48c1-bcf9-27bb631eb04c.svg#451477dd-a1aa-48c1-bcf9-27bb631eb04c") format("svg");
	font-weight: 400;
	font-style: normal;
}

