@font-face{
	font-family:"Sabon Next";
	src:url("../fonts/sabon-next/bold/e7cf7dde-4c17-42f1-8570-32fd8d5fd6f0.eot?#iefix");
	src:url("../fonts/sabon-next/bold/e7cf7dde-4c17-42f1-8570-32fd8d5fd6f0.eot?#iefix") format("eot"),
	url("../fonts/sabon-next/bold/533ce8a9-a0a4-4a40-96c5-76aa564a3d7f.woff2") format("woff2"),
	url("../fonts/sabon-next/bold/952c2825-2ba9-448a-8375-492e78886fc9.woff") format("woff"),
	url("../fonts/sabon-next/bold/99f2ba52-d5f4-46b2-bb31-fd4f1f2b8d65.ttf") format("truetype"),
	url("../fonts/sabon-next/bold/c64c09ef-6c2d-46b1-9390-d7e9bfc0fd8f.svg#c64c09ef-6c2d-46b1-9390-d7e9bfc0fd8f") format("svg");
	font-weight: 700;
	font-style: normal;
}
