
$asset_dir: ''; //'assets/';
$image_dir: $asset_dir+'images/';
$font_dir: $asset_dir+'fonts/'; 

/// BREAKPOINTS

$desktop-large: 1280px;
$tablet: 1024px;
$tablet-portrait: 960px;
$phone-large: 736px;
$phone: 500px;

$page-width: 1248px;
