body {
  background-color: #fefefe;
  margin: 0;
  padding: 2em;
  padding-bottom: 12em; }

body,
h1,
h2,
h3,
p,
li {
  font-family: 'Sabon', 'Times', 'Georgia', serif;
  font-size: 18px;
  line-height: 1.2em; }

h1 {
  font-size: 1.3em;
  color: #0033eb; }

h2 {
  margin-top: 3em;
  font-size: 1.3em; }

p {
  width: 37em; }

ol {
  margin: 0;
  padding: 0 0 0 1em; }

a:link,
a:visited {
  color: #0033eb; }

a:hover {
  color: #222; }

pre, code {
  background-color: #f0f0f0;
  font-family: 'Menlo', 'Monaco', 'Andale Mono', monospace;
  font-size: 0.75em;
  color: #632196; }

pre {
  width: 46em;
  box-sizing: border-box;
  padding: 0.5em 1em;
  -moz-tab-size: 4;
    -o-tab-size: 4;
       tab-size: 4; }

.slide-box {
  margin-top: 2em; }

.ex-1-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 37em !important; }
  .ex-1-grid .slide:not(.slide-detail) {
    width: 33%;
    height: 0;
    width: 33.3333333333%;
    position: relative;
    padding-bottom: 33.3333333333%;
    background-size: cover !important; }
  .ex-1-grid .slide-detail {
    background-size: contain !important; }
