$accent: rgb(0, 51, 235);


body					{	background-color: #fefefe;
						margin: 0; padding: 2em;
						padding-bottom: 12em; }
body,
h1,
h2,
h3,
p,
li					{	font-family: 'Sabon', 'Times', 'Georgia', serif;
						font-size: 18px;
						line-height: 1.2em; }

h1					{	font-size: 1.3em;
						color: $accent; }

h2					{	margin-top: 3em;
						font-size: 1.3em; }

p					{	width: 37em; }

ol					{	margin: 0; padding: 0 0 0 1em; }

a:link,
a:visited			{	color: $accent; }
a:hover				{	color: #222; }

pre, code			{	background-color: rgb(240,240,240);
						font-family: 'Menlo', 'Monaco', 'Andale Mono', monospace;
						font-size: 0.75em; color: rgb(99,33,150); }
pre					{	width: 46em; box-sizing: border-box;
						padding: 0.5em 1em;
						tab-size: 4; }

.slide-box			{	margin-top: 2em; }

/// EXAMPLE 1

$slide-width: percentage(1/3);

.ex-1-grid			{	display: flex;
						flex-wrap: wrap;
						width: 37em !important;

	.slide:not(.slide-detail)
					{	width: 33%; height: 0;
						width: $slide-width;
						position: relative;
						padding-bottom: $slide-width;
						background-size: cover !important; }

	.slide-detail	{	background-size: contain !important; }

}	 


/// EXAMPLE 2

.ex-2-carousel		{	 }